<!-- <div class="col-4 justify-content-center mx-auto border rounded-5 border-primary p-3">
    <h3 class="p-3 mx-auto">{{titulo}}</h3>
    <div class="form-group">
        <label for="inputTitulo p-3">Titulo</label>
        <input type="text" class="form-control" [(ngModel)]="libro.titulo" id="inputTitulo">
    </div>
    <div class="form-group">
        <label for="inputISBN p-3">ISBN</label>
        <input type="text" class="form-control" [(ngModel)]="libro.isbn" id="inputISBN">
    </div>
    <div class="form-group">
        <label for="inputPrecio p-3">Precio</label>
        <input type="text" class="form-control" [(ngModel)]="libro.precio" id="inputPrecio">
    </div>
    <div class="form-group p-3">
        <label for="inputAutor">Autor</label>
        <select class="form-select" [(ngModel)]="libro.idAutor" id="inputAutor">
            <option *ngFor="let autor of autores; index as i" [value]="autor.id">{{autor.nombre + ' ' + autor.apellidos}}</option>
          </select>
    </div>
    
    <div class="form-group p-3">
        <label for="inputDescripcion">Descripcion</label>
        <textarea class="form-control" id="inputDescripcion" rows="3" [(ngModel)]="libro.descripcion"></textarea>
      </div>
    <div class="form-group p-3">
        <label for="inputImagen">Imagen</label>
        <input type="file" class="form-control-file" id="inputImagen" (change)="subirImagen($event)" multiple>
    </div>
    <div class="form-group p-3">
        <label for="inputArchivo">Archivo</label>
        <input type="file" class="form-control-file" id="inputArchivo" (change)="subirArchivo($event)" multiple>
    </div>
    <p>
        <button type="button" class="btn btn-primary" (click)="darAlta()" *ngIf="libro.id==''">ALTA</button>
        <button type="button" class="btn btn-primary" (click)="editar()" *ngIf="libro.id!=''">ACTUALIZAR</button>
        <button type="button" class="btn btn-danger" (click)="cancelar()">CANCELAR</button>
    </p>
</div> -->
