<nav class="navbar navbar-expand-xxl navbar-dark bg-dark container-fluid" aria-label="menu">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/inicio"><img src="{{directorioImagenes}}/Logo-GDL-500x1000.png"
                width="150px" alt="Galaxia de Libros"></a>
        <button class="navbar-toggler btn-outline-secondary" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Novelas</a>
                    <ul class="dropdown-menu dropdown-menu-dark bg-secondary" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/novelas">Buscador</a></li>
                    </ul>
                </li>
                
                <li *ngIf="!logueado" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Identifícate</a>
                    <ul class="dropdown-menu dropdown-menu-dark bg-secondary" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                        <li><a class="dropdown-item" routerLink="/registro">Registro</a></li>
                    </ul>
                </li>
                <li *ngIf="logueado" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">{{usuario?.nickname}}</a>
                    <ul class="dropdown-menu dropdown-menu-dark bg-secondary" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/novelas/misSeguidas">Mis novelas seguidas</a></li>
                        <li><a class="dropdown-item" routerLink="/novelas/misNovelas">Mis novelas publicadas</a></li>
                        <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mapaWeb">MapaWeb</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" name="tituloABuscar" placeholder="Buscar"
                    aria-label="Search" [(ngModel)]="tituloABuscar">
                <button class="btn btn-terciary" type="submit" (click)="buscarNovela()">Buscar</button>
            </form>
        </div>
    </div>
</nav>