<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Imagen</th>
			<th scope="col">ISBN</th>
			<th scope="col">Titulo</th>
			<th scope="col">Precio</th>
			<th scope="col">Autor</th>
			<th scope="col">Editar</th>
			<th scope="col">Borrar</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let libro of libros; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				<img
					[src]="'../../assets/imagenes/' + libro.imagen"
					class="me-2"
					style="width: 30px;"
					alt="Foto de libro"
				/>
			</td>
			<td>{{ libro.isbn }}</td>
			<td>{{ libro.titulo }}</td>
			<td>{{ libro.precio }}</td>
			<td>{{ libro.nombreAutor }}</td>
			<td><button type='button' class="btn btn-primary"
				[routerLink]="['/crearLibro/',libro.id]" routerLinkActive="router-link-active"  >Editar</button> </td>
				<td><button type='button' class="btn btn-primary"
					(click)="borrar(libro)" >Borrar</button> </td>
		</tr>
	</tbody>
</table>