<app-menu *ngIf="usuario" [usuario]="usuario"></app-menu>
<app-menu *ngIf="!usuario"></app-menu>
<div class="container bg-white" style="min-height: 100vh; background-size: cover;">
    <header class="py-5 " style="background-image: url('{{directorioImagenes}}Andromeda1920.jpg')">
        <div class="text-center my-5">
            <img class="img-fluid mb-4" src="{{directorioImagenes}}logoGDL.png" alt="..." />
            <h1 class="text-white fs-3 fw-bolder">Galaxia de Libros</h1>
            <p class="text-white mb-0">Universo de novelas amateur</p>
        </div>
    </header>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>¡Bienvenido a la Galaxia!</h2>
                    <p class="lead">Esta es una página hecha para que los autores den a conocer sus historias fácilmente a través de internet</p>
                    <p class="mb-0">Aceptamos todo tipo de personas, las que han venido a descubrir, leer y disfrutar de historias y las que han venido a proporcionar dichas historias</p>
                </div>
            </div>
        </div>
    </section>
    <div class="py-5 bg-image-full" style="background-image: url('{{directorioImagenes}}Galaxia1920.jpg')">
        <div style="height: 20rem"></div>
    </div>

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="container col-lg-8">
                    <h2 class="text-center mb-4">Aquí puedes empezar a usar la página</h2>
                   <div class="row col-12 mx-auto">
                    <button class="btn btn-secondary rounded-0 col-4 mx-auto" type="button" routerLink="/novelas" >Empezar a Leer
                    </button>
                    <button *ngIf="usuario" class="btn btn-secondary rounded-0 col-4 float-end mx-auto" type="button" routerLink="/misNovelas">Empezar a escribir
                    </button>
                    <button *ngIf="!usuario" class="btn btn-secondary rounded-0 col-4 float-end mx-auto" type="button" routerLink="/registro">Empezar a escribir
                    </button>
                   </div>
                </div>
            </div>
        </div>
    </section>

</div>