<div class="formularioAlta">
    <h3>{{titulo}}</h3>
    <p> Nombre:
        <input type="text" [(ngModel)]="autor.nombre" placeholder="nombre">
    </p>
    <p> Apellidos:
        <input type="text" [(ngModel)]="autor.apellidos" placeholder="apellidos">
    </p>
    <p> Lugar de Nacimiento:
        <input type="text" [(ngModel)]="autor.lugarNacimiento" placeholder="Lugar de Nacimiento">
    </p>
    <p> Fecha de Nacimiento:
        <input type="date" [(ngModel)]="autor.fechaNacimiento" placeholder="Fecha de Nacimiento">
    </p>
    <p> Biografia:
        <textarea [(ngModel)]="autor.biografia" placeholder="Biografía"></textarea>
    </p>
    <p> Foto:
        <input type="file"
           id="file"
           (change)="subirFoto($event)">
    </p>
    <p>
        <button type="button" (click)="darAlta()" *ngIf="autor.id==''">ALTA</button>
        <button type="button" (click)="editar()" *ngIf="autor.id!=''">ACTUALIZAR</button>
        <button type="button" (click)="cancelar()">CANCELAR</button>
    </p>
</div>