<div class="col-4 justify-content-center mx-auto border rounded-5 border-primary p-3">
    <h3 class="p-3 mx-auto">{{titulo}}</h3>
    <div class="form-group">
        <label for="inputNombre p-3">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="autor.nombre" id="inputNombre">
    </div>
    <div class="form-group">
        <label for="inputApellidos p-3">Apellidos</label>
        <input type="text" class="form-control" [(ngModel)]="autor.apellidos" id="inputApellidos">
    </div>
    <div class="form-group">
        <label for="inputLugar p-3">Lugar de Nacimiento</label>
        <input type="text" class="form-control" [(ngModel)]="autor.lugarNacimiento" id="inputLugar">
    </div>
    <div class="form-group p-3">
        <label for="inputFecha">Fecha de Nacimiento</label>
        <input type="date" class="form-control" [(ngModel)]="autor.fechaNacimiento" id="inputFecha">
    </div>
    <div class="form-group p-3">
        <label for="inputBiografia">Biografía</label>
        <textarea class="form-control" id="inputBiografia" rows="3" [(ngModel)]="autor.biografia"></textarea>
      </div>
    <div class="form-group p-3">
        <label for="inputFoto">Foto</label>
        <input type="file" class="form-control-file" id="inputFoto" (change)="subirFoto($event)">
    </div>
    <!-- <p> Foto:
        <input type="file"
           id="file"
           (change)="subirFoto($event)">
    </p> -->
    <p>
        <button type="button" class="btn btn-primary" (click)="darAlta()" *ngIf="autor.id==''">ALTA</button>
        <button type="button" class="btn btn-primary" (click)="editar()" *ngIf="autor.id!=''">ACTUALIZAR</button>
        <button type="button" class="btn btn-danger" (click)="cancelar()">CANCELAR</button>
    </p>
</div>
