<app-menu *ngIf="usuario" [usuario]="usuario"></app-menu>
<app-menu *ngIf="!usuario"></app-menu>
<div class="container bg-white" style="min-height: 100vh; background-size: cover;">
    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/novelas']">Novelas</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="javascript:" [routerLink]="['/novela',this._id]">{{novela?.titulo}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Capitulo {{numeroCapitulo}}</a></li>
                </ol>
            </nav>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 d-none d-xl-block"><img class="card-img-top mb-5 mb-md-0"
                        src="{{directorioImagenes}}{{novela?.imagen}}" alt="Portada de {{novela?.titulo}}" /></div>
                <div class="col-xl-6 my-auto">
                    <div class="small mb-1">Escrito por {{novela?.autor?.autorNickname}}</div>
                    <h5 class="display-6 fw-bolder">{{novela?.listaCapitulos[numeroCapitulo-1]?.titulo}}</h5>
                </div>
                <div class="d-grid gap-2 col-xl-3 my-auto">
                            <button class="btn btn-primary rounded-0" type="button" [routerLink]="['/novela', novela?._id]">Página de Novela
                            </button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container px-4 px-lg-5">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <button class="btn btn-terciary rounded-0" type="button" *ngIf="capitulo" [disabled]="!listaCapitulos[(numeroCapitulo-2)]" (click)="cambiarCapitulo(1)">Capítulo Anterior
                    </button>
                    <button class="btn btn-terciary rounded-0 float-end" type="button" *ngIf="capitulo" [disabled]="!listaCapitulos[(numeroCapitulo)]" (click)="cambiarCapitulo(-1)">Capítulo Siguiente
                    </button>
                </div>
                <div class="card-body">
                    <div class="card-text" *ngIf="capitulo?.contenido"
                        [innerHTML]="capitulo?.contenido">
                    </div>
                    <div>
                    </div>
                </div>
                <div class="card-header bg-secondary text-white">
                    <button class="btn btn-terciary rounded-0" type="button" *ngIf="capitulo" disabled="{{!listaCapitulos[(numeroCapitulo-2)]}}" (click)="cambiarCapitulo(1)">Capítulo Anterior
                    </button>
                    <button class="btn btn-terciary rounded-0 float-end" type="button" *ngIf="capitulo" [disabled]="!listaCapitulos[(numeroCapitulo)]" (click)="cambiarCapitulo(-1)">Capítulo Siguiente
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
<app-boton-scroll></app-boton-scroll>