<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Foto</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellidos</th>
			<th scope="col">Fecha Nacimiento</th>
			<th scope="col">Lugar Nacimiento</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let autor of autores; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				<img
					[src]="'../../assets/imagenes/' + autor.foto"
					class="me-2"
					style="width: 20px"
					alt="Foto de autor"
				/>
			</td>
			<td>{{ autor.nombre }}</td>
			<td>{{ autor.apellidos }}</td>
			<td>{{ autor.fechaNacimiento }}</td>
			<td>{{ autor.lugarNacimiento }}</td>
		</tr>
	</tbody>
</table>